section{
    width:100%;
    padding:10px 10px
}
section h3{
    font-size: 16px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 600;
    color:#FC7E03 ; 
}
section h1 {
    font-weight: 900;
    letter-spacing: 0.2rem;
}
section p{
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    color: rgb(26 6 6 / 68%);
}

section .price{
    margin: 10px 0;
    width: 100%;
    display: grid;
    grid-template-columns: 40%  1fr 20%;
    align-items: center;
    justify-content: space-around;
    
}
section .price span{
    color:#FC7E03;
    background-color:#F3F3F3;
    padding: 5px;
        border-radius: 30px;
}

section .amount{
    padding: 15px 10px;
    width: 97%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background-color: #F3F5F8;
}

section .amount .icon{
    color: #FC7E03;
    width: 15px;
    height:15px;
    cursor: pointer;
}

.btn{ 
    margin:10px 0px;
    padding: 15px;
        width: 97%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border: none;
        border-radius: 10px;
        color: #FFF;
        background-color: #FC7E03;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.05rem;
        
        cursor: pointer;
}

.btn .btn_icon{
    width: 20px;
    height: 20px;
    color: #181818;
    
}



@media (min-width:768px) {
    .btn_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    h1{
        font-size: 30px;
    }
    p{
        line-height: 1.7;
    }
        .btn_container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
    section .price{
        width:50%;
        display: grid;
        grid-template-columns: 1fr 20%;
        grid-template-rows: repeat(2 , auto);
        row-gap: 15px;
    }
    section .amount , section .btn{
        width: 60%;
    }
}

@media (min-width:1024px) {
   
    .ProductInfo {
            margin-top: 40px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 30px;
        }
    .ProductInfo p{
        width: 80%;
    }
    .btn_container {
        flex-direction: row;
        gap: 15px;
    }
}